body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

header.scrolled {
    background-color: rgb(19, 0, 45);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #25D366;
}

section {
    padding: 2rem;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-in-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

#home {
    background: url('profil.jpg') no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#home h1, #home p {
    position: relative;
    z-index: 1;
    transition: transform 1s, opacity 1s;
}

#home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    transform: translateY(-50px);
    opacity: 0;
}

#home p {
    font-size: 1.5rem;
    transform: translateY(50px);
    opacity: 0;
}

.service {
    background-color: #fff;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.service:hover {
    transform: translateY(-10px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 0.5rem 0 0.2rem;
}

form input, form textarea {
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.5rem 2rem;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background-color: #25D366;
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.whatsapp-button {
    background-color: #34ff0cc8;
    color: #fff;
    padding: 1rem;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 1rem;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.whatsapp-button:hover {
    background-color: #04bb10;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#portfolio {
    padding: 2rem;
    text-align: center;
    background-color: #f4f4f4;
}

#portfolio h2 {
    margin-bottom: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}
.partlist-button {
    background-color: #2225dacb;
    color: #fff;
    padding: .5rem;
    border-radius: 1px;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 1rem;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}